## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,Ugoofaaru,MV,83.53,broken clouds,5.6667,73.0000,Ungoofaaru Inn
1,11,Xilitla,MX,75.79,overcast clouds,21.3333,-98.9667,Rio Tancuilin
2,16,Pisco,PE,75.20,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
3,19,Saint-Philippe,RE,77.00,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
4,20,Avarua,CK,77.00,few clouds,-21.2078,-159.7750,Paradise Inn

In [4]:
vacation_df = vacation_df.dropna()

In [5]:
vacation_df.count()

City_ID                212
City                   212
Country                212
Max Temp               212
Current Description    212
Lat                    212
Lng                    212
Hotel Name             212
dtype: int64

In [6]:
# 2.Using the template add the city name, country code, weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

negombo_df = vacation_df.loc[vacation_df['City'] == "Negombo"]
kalmunai_df = vacation_df.loc[vacation_df['City'] == "Kalmunai"]
hambantota_df = vacation_df.loc[vacation_df['City'] == "Hambantota"] 
matara_df = vacation_df.loc[vacation_df['City'] == "Matara"]

In [51]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = vacation_start["Lat", "Lng"].to_numpy()
start= (negombo_df["Lat"].to_numpy()[0], negombo_df["Lng"].to_numpy()[0])
end =(negombo_df["Lat"].to_numpy()[0], negombo_df["Lng"].to_numpy()[0])
stop1 = (kalmunai_df["Lat"].to_numpy()[0], kalmunai_df["Lng"].to_numpy()[0])
stop2 = (hambantota_df["Lat"].to_numpy()[0], hambantota_df["Lng"].to_numpy()[0])
stop3 = (matara_df["Lat"].to_numpy()[0], matara_df["Lng"].to_numpy()[0])

stop1

(7.4167, 81.8167)

In [53]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
travel_map = gmaps.directions_layer(start, end,waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(travel_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([negombo_df,kalmunai_df,hambantota_df,matara_df], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,435,Negombo,LK,86.00,scattered clouds,7.2083,79.8358,Hotel Sunset Beach
1,291,Kalmunai,LK,80.76,few clouds,7.4167,81.8167,VS Villa
2,109,Hambantota,LK,80.47,scattered clouds,6.1241,81.1185,Bungalow 63
3,322,Matara,LK,78.51,broken clouds,5.9485,80.5353,Amaloh Boutique Resort

In [63]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [69]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))